.DS_Store
.Rproj.user
.Rhistory
Makefile
*.dll
*.exe
*.log
*.lp
*.o
*.so
*.test
*.tmp
*.vscode

*.gcda
*.gcno
*.gcov
*.dSYM

#

include/armadillo*
glpk_tmp

tests/ancillary/configure
tests/ancillary/Makefile.in
tests/ancillary/Makefile

tests/arums/configure
tests/arums/Makefile.in
tests/arums/Makefile

tests/markets/configure
tests/markets/Makefile.in
tests/markets/Makefile

tests/models/configure
tests/models/Makefile.in
tests/models/Makefile

tests/solvers/configure
tests/solvers/Makefile.in
tests/solvers/Makefile

tests/unit_tests/arums/configure
tests/unit_tests/arums/Makefile.in
tests/unit_tests/arums/Makefile

tests/unit_tests/misc/configure
tests/unit_tests/misc/Makefile.in
tests/unit_tests/misc/Makefile

tests/unit_tests/mmfs/configure
tests/unit_tests/mmfs/Makefile.in
tests/unit_tests/mmfs/Makefile

tests/unit_tests/models/configure
tests/unit_tests/models/Makefile.in
tests/unit_tests/models/Makefile

tests/unit_tests/solvers/configure
tests/unit_tests/solvers/Makefile.in
tests/unit_tests/solvers/Makefile

tests/unit_tests/transfers/configure
tests/unit_tests/transfers/Makefile.in
tests/unit_tests/transfers/Makefile
